<?xml version="1.0"?>
<launch>
    <!-- param -->
    <arg name="hz" default="10"/>
    <arg name="robot_param" default="$(find point_follow_planner)/config/robot_param.yaml"/>
    <arg name="planner_param" default="$(find point_follow_planner)/config/planner_param.yaml"/>
    <!-- topic name -->
    <arg name="cmd_vel" default="/cmd_vel"/>
    <arg name="candidate_trajectories" default="/candidate_trajectories"/>
    <arg name="selected_trajectory" default="/selected_trajectory"/>
    <arg name="local_goal" default="/local_goal"/>
    <arg name="robot_outline" default="/robot_outline"/>
    <arg name="local_map" default="/local_map"/>
    <arg name="odom" default="/odom"/>


    <node pkg="point_follow_planner" type="point_follow_planner" name="point_follow_planner" ns="local_planner" output="screen">
        <rosparam command="load" file="$(arg robot_param)"/>
        <rosparam command="load" file="$(arg planner_param)"/>
        <param name="/hz" value="$(arg hz)"/>

        <remap from="/cmd_vel" to="$(arg cmd_vel)"/>
        <remap from="/candidate_trajectories" to="$(arg candidate_trajectories)"/>
        <remap from="/selected_trajectory" to="$(arg selected_trajectory)"/>
        <remap from="/local_goal" to="$(arg local_goal)"/>
        <remap from="/robot_outline" to="$(arg robot_outline)"/>
        <remap from="/local_map" to="$(arg local_map)"/>
        <remap from="/odom" to="$(arg odom)"/>
    </node>
</launch>
