<?xml version="1.0"?>
<launch>
    <!-- bagfile path -->
    <arg name="bagfile" default="$(env HOME)/bagfiles/~.bag"/>

    <!-- param -->
    <arg name="hz" default="20"/>
    <arg name="planner_param" default="$(find point_follow_planner)/config/planner_param.yaml"/>
    <arg name="robot_param" default="$(find point_follow_planner)/config/robot_param.yaml"/>
    <!-- topic name -->
    <arg name="cmd_vel" default="/local_path/cmd_vel"/>
    <arg name="footprint" default="/footprint"/>
    <arg name="local_goal" default="/local_goal"/>
    <arg name="local_map" default="/local_map"/>
    <arg name="odom" default="/odom"/>


    <rosparam param="/use_sim_time">true</rosparam>

    <include file="$(find point_follow_planner)/launch/local_planner.launch">
        <!-- param -->
        <arg name="hz" value="$(arg hz)"/>
        <arg name="planner_param" value="$(arg planner_param)"/>
        <arg name="robot_param" value="$(arg robot_param)"/>
        <!-- topic name -->
        <arg name="cmd_vel" value="$(arg cmd_vel)"/>
        <arg name="footprint" value="$(arg footprint)"/>
        <arg name="local_goal" value="$(arg local_goal)"/>
        <arg name="local_map" value="$(arg local_map)"/>
        <arg name="odom" value="$(arg odom)"/>
    </include>

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="
        $(arg bagfile)
        --clock
        --topics
        $(arg footprint)
        $(arg local_goal)
        $(arg local_map)
        $(arg odom)
        /tf
        /tf_static
        ">
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find point_follow_planner)/config/rviz.rviz"/>
</launch>
